In [1]:
print('Hello world')

Hello world

In [7]:
import pandas as pd
from sklearn import feature_extraction, linear_model, model_selection, preprocessing

In [6]:
twitter_df = pd.read_csv(r'E:\Python\Datasets\Disaster_Tweets\train.csv')
twitter_df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [19]:
twitter_df['target'].value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [11]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(twitter_df['text'], twitter_df['target'], random_state = 0)

In [12]:
X_train.shape

(5709,)

In [13]:
y_train.shape

(5709,)

In [14]:
X_test.shape

(1904,)

In [27]:
y_train[0]

1

In [20]:
count_vectorizer = feature_extraction.text.CountVectorizer()
train_vectors = count_vectorizer.fit_transform(X_train)

In [21]:
test_vectors = count_vectorizer.transform(X_test)

In [22]:
ridge_model_clf = linear_model.RidgeClassifier()

In [30]:
cv_scores = model_selection.cross_val_score(ridge_model_clf, train_vectors, y_train, cv = 3, scoring='f1')

In [31]:
cv_scores

array([0.70415335, 0.72426938, 0.73514212])

In [32]:
ridge_model_clf.fit(train_vectors, y_train)

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=None,
                solver='auto', tol=0.001)

In [36]:
prediction = ridge_model_clf.predict(test_vectors)

In [35]:
from sklearn.metrics import f1_score

In [37]:
f1_score(prediction, y_test)

0.7390728476821192

In [38]:
twitter_test = pd.read_csv(r'E:\Python\Datasets\Disaster_Tweets\test.csv')

In [39]:
twitter_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [40]:
count_vectorizer_sumbission = feature_extraction.text.CountVectorizer()
count_vectorizer_sumbission.fit(twitter_df['text'])

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [42]:
submission_train_vectors = count_vectorizer_sumbission.transform(twitter_df['text'])
submission_test_vectors = count_vectorizer_sumbission.transform(twitter_test['text'])

In [45]:
ridge_model_clf.fit(submission_train_vectors, twitter_df['target'])
submission_prediction = ridge_model_clf.predict(submission_test_vectors)

In [46]:
submission_prediction

array([0, 1, 1, ..., 1, 1, 0], dtype=int64)

In [48]:
twitter_test

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

In [50]:
submission_df = twitter_test[['id']]

In [51]:
submission_df

         id
0         0
1         2
2         3
3         9
4        11
...     ...
3258  10861
3259  10865
3260  10868
3261  10874
3262  10875

[3263 rows x 1 columns]

In [53]:
submission_df = twitter_test[['id']].copy()
submission_df['target'] = submission_prediction

In [58]:
submission_df.to_csv(r'E:\Python\Datasets\Disaster_Tweets\submission.csv', index=False)

In [57]:
pd.read_csv(r'E:\Python\Datasets\Disaster_Tweets\sample_submission.csv')

TypeError: read_csv() got an unexpected keyword argument 'index'